h1
{
    color:blue!important;
}

/* To avoid repetition of title of page as first list item */
li.toctree-l2:first-child {
    display: none;
}

/* ipython notebooks overflow in x direction */
#notebook-container
{
    width:100%;
}
.wy-nav-content {
    max-width: none;
}

/* search text is white from theme.css of RTD - but why? hav to investigate?*/
input[type="text"] {
    color:black;
  }

/* dark blue on hover over links not very visible on side bars, so... */
a:hover,
a:focus {
  color: #e07f25!important;
}


